---
layout: home
title: jGoulet Consultant
---

%section#market
  :markdown
    ## Marché Cible
    - Firmes de services professionelles
    - Entreprise ayant des enjeux stratégiques en marketing

%section#services
  :markdown
    ## Services Offerts
    - Gestion de la marque (Positionnement, Enjeux, Changements, Etc.)
    - Accompagnements stratégique dans les programmes de gestion de produits (Développement, Lacement, Positionnement)
    - Accompagnement stratégique dans la gestion des ventes (Amélioration et mesure de la performance, Matériel / Outils Requis)

    #### Mandats de 6 à 12 mois au besoin

%section#why
  :markdown
    ## Pourquoi Travailler Avec *jGoulet Consultant*?
    - Expérience exécutive dans la gestion et le développement des affaires
    - MBA en stratégie et marketing
    - Expérience en coaching et développement de leadership